.product-card {
  width: 18rem; /* Consistent width */
  height: 32rem; /* Consistent height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  height: 20rem; /* Set a fixed height for images */
  object-fit: fill; /* Ensures the image scales proportionally */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .product-card {
    width: 90%; /* Adjust width for smaller screens */
  }

  .product-image {
    height: 15rem; /* Adjust image height */
  }
}

@media screen and (max-width: 480px) {
  .product-card {
    width: 100%; /* Full width for extra small screens */
    padding: 1rem; /* Add some padding for better appearance */
  }

  .product-image {
    height: 20rem; /* Further adjust image height */
  }
}
